// 背景颜色
$hic-login-bg-color: #4e9eeb;

// 输入框背景颜色
$hic-login-input-bg: #f8f8f8;

// 输入框右侧三角颜色
$hic-login-triangle-color: #5057cb;

// 按钮背景渐变色
$hic-login-btn-bg-color: linear-gradient(45deg, #0081ff, #1cbbb4);

// 按钮文字颜色
$hic-login-btn-color: #fff;

// 文字大小
$font-xl: 38rpx;
$font-df: 30rpx;

// 文字颜色
$font-light: #999;
