.tran-center {
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.full {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.safe-bottom {
  width: 100%;
  height: $safeBottom;
}

.btn-active {
  transform: scale(0.99);
}

view {
  $btn_prefix: btn-;

  &.#{$btn_prefix}gray,
  &.#{$btn_prefix}waring,
  &.#{$btn_prefix}default,
  &.#{$btn_prefix}primary {
    @include btnColor($primary);
    @include flex-center;
    padding: 4rpx 6rpx;
    width: auto;
    height: auto;
    border-radius: 6rpx;
    font-size: 28rpx;
    letter-spacing: 1rpx;
  }

  &.#{$btn_prefix}primary {
    color: #fff;
  }

  &.#{$btn_prefix}default {
    color: $primary;
    background-color: rgba(255, 255, 255, 0);
  }

  &.#{$btn_prefix}gray {
    background-color: #fff;
    border-color: #e9ebed;
    color: #9ca4ab;
  }

  &.#{$btn_prefix}waring {
    background-color: #fcead9;
    border-color: #fcead9;
    color: #f2994a;
  }

  &.#{$btn_prefix}padding {
    padding: 6rpx 10rpx;
  }
}

//* 单行省略
.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 2行省略  */
.twoEllipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 3行省略  */
.textsEllipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.img {
  display: block;
}

.price-prefix {
  @include font(28rpx, 28rpx, #ef952f, 500);

  &::before {
    content: '￥';
    font-size: 24rpx;
  }
}
