// 苹果底部安全区域
$safeBottom: constant(safe-area-inset-bottom);
$safeBottom: env(safe-area-inset-bottom);

$tabbar-height: 0;

// 页面高度（tabbar 页）
$pageHeightTab: calc(
  100vh - var(--window-top) - var(--window-bottom) - $tabbar-height -
    $safeBottom
);
// 页面高度（无tabbar 页）
$pageHeight: calc(
  100vh - var(--window-top) - var(--window-bottom) - $safeBottom
);
// 页面高度（无tabbar 页 自定义导航条）
$pageHeightNavCustom: calc(
  100vh - var(--window-top) - 85px - var(--window-bottom) - $safeBottom
);

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin box($margin: 0, $padding: 0, $width: 100%, $height: 100%) {
  margin: $margin;
  padding: $padding;
  width: $width;
  height: $height;
}

@mixin wh($w: 100%, $h: 100%, $bc: none) {
  position: relative;
  width: $w;
  min-width: $w;
  height: $h;
  min-height: $h;
  background-color: $bc;
}

@mixin whSquare($n: 100%) {
  width: $n;
  height: $n;
}

@mixin border($border: 1px solid rgba(255, 255, 255, 0), $borderRadius: 0) {
  border: $border;
  border-radius: $borderRadius;
}

@mixin transition($second: 300ms) {
  transition: all $second ease-in-out;
}

@mixin click {
  cursor: pointer;
  user-select: none;
}

@mixin fontSize($size) {
  font-size: $size;
  line-height: $size;
}

@mixin font($size: 16px, $lineHeight: 16px, $color: #000, $weight: 400) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
}

@mixin pageWrap($statusH: 0px) {
  $height: calc(
    100vh - var(--window-top) - var(--window-bottom) - $safeBottom - $statusH
  );
  width: 100%;
  min-height: $height;
  max-height: $height;
  position: relative;
  background-color: $bgColor;
  overflow: hidden;
}

@mixin tabBarPageWrap {
  // padding-bottom: calc($tabbar-height - var(--status-bar-height));
  width: 100vw;
  height: $pageHeightTab;
  position: relative;
}

@mixin iPhoneBottom($bottom: 0px) {
  padding-bottom: calc(
    constant(safe-area-inset-bottom) + #{$bottom}
  ) !important;
  padding-bottom: calc(env(safe-area-inset-bottom) + #{$bottom}) !important;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin messageRed($size: 12rpx, $primary: #fe0000) {
  position: relative;

  &::after {
    content: '';
    @include whSquare($size);
    @include border(none, 51%);
    position: absolute;
    top: calc($size / -2);
    right: calc($size / -2);
    background-color: $primary;
  }
}

@mixin absoluteAlgin($size) {
  top: calc(50% - $size / 2);
}

@mixin absoluteJustify($size) {
  left: calc(50% - $size / 2);
}

@mixin btnColor($color) {
  border: 1px solid $color;
  background-color: $color;
}

@mixin houseGrid($colum: 3, $wrapPad: 24rpx, $gap: 10rpx, $itemClass: item) {
  //TODO kesen: 2022-04-27  $wrapPad 块内边距 *2是为了减左右 注如果外层还有边距存在也需算上，然后 自定义想要的内边距覆盖
  //TODO kesen: 2022-04-27  $gap 项间距 ($column - 1) * 2 是计算其中存在间距总数 就比如 3个项存在4个间距
  //TODO kesen: 2022-04-27  $w 根据视图计算大小
  //TODO kesen: 2023-06-26  x 轴间距
  $w: calc((100vw - $wrapPad * 2 - $gap * ($colum - 1) * 2) / $colum);
  margin: 0 #{-$gap};
  padding: 0 $wrapPad;

  @include flex-wrap;

  ::v-deep .#{$itemClass} {
    width: $w !important;
    margin: 0 $gap;
  }
}
