@font-face {
  font-family: "iconfont"; /* Project id 4550051 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4550051_zjj5njqvn5b.woff2?t=1715851332862') format('woff2'),
       url('//at.alicdn.com/t/c/font_4550051_zjj5njqvn5b.woff?t=1715851332862') format('woff'),
       url('//at.alicdn.com/t/c/font_4550051_zjj5njqvn5b.ttf?t=1715851332862') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-close:before {
  content: "\e69a";
}

.icon-arrow:before {
  content: "\e664";
}

.icon-search:before {
  content: "\e611";
}

.icon-loading:before {
  content: "\e73c";
}

.icon-arrow-left:before {
  content: "\e608";
}

.icon-queshengye_kongbaiye-tongyong:before {
  content: "\e75f";
}

.icon-queshengye_qingdengdai:before {
  content: "\e760";
}

.icon-queshengye_zanwudizhi:before {
  content: "\e761";
}

.icon-queshengye_zanwudongtai:before {
  content: "\e762";
}

.icon-queshengye_zanwugongzuo:before {
  content: "\e763";
}

.icon-queshengye_zanwulinggan:before {
  content: "\e764";
}

.icon-queshengye_zanwuhuiyi:before {
  content: "\e765";
}

.icon-queshengye_zanwulianxifangshi:before {
  content: "\e766";
}

.icon-queshengye_zanwujilu:before {
  content: "\e767";
}

.icon-queshengye_zanwuduanxin:before {
  content: "\e768";
}

.icon-queshengye_zanwufangan:before {
  content: "\e769";
}

.icon-queshengye_zanwujiaofei:before {
  content: "\e76a";
}

.icon-queshengye_zanwushuju:before {
  content: "\e76b";
}

.icon-queshengye_zanwusousuo:before {
  content: "\e76c";
}

.icon-queshengye_zanwushenpi:before {
  content: "\e76d";
}

.icon-queshengye_zanwujihua:before {
  content: "\e76e";
}

.icon-queshengye_zanwurenwu:before {
  content: "\e76f";
}

.icon-queshengye_zanwuxiaoxi:before {
  content: "\e770";
}

.icon-queshengye_zanwuwenti:before {
  content: "\e771";
}

.icon-queshengye_zanwuyujing:before {
  content: "\e772";
}

.icon-queshengye_zanwuwangluo:before {
  content: "\e773";
}

.icon-queshengye_zanwuyijian:before {
  content: "\e774";
}

